@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projekt Zespołowy W4 AiR ARP</h1>
    <h6 class="dropdown">By Michał Jaroszczuk, Jakub Unold, Bartosz Rudyk and Kacper Starościak</h6>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
